.form_container {
  position: fixed;
  right: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.add_note_btn {
  width: 87.5%;
  height: 20px;
  box-shadow: 5px 10px 8px #e4dfdf;
  background-color: #fae572;
  border: none;
}

.title_box {
  width: 85%;
  height: 20px;
  box-shadow: 5px 10px 8px #e4dfdf;
  background-color: #fae572;
  border: none;
}
.note_box {
  width: 85%;
  height: 100px;
  box-shadow: 5px 10px 8px #e4dfdf;
  background-color: #fae572;
  border: none;
}
.note_container {
  margin: 10px;
  width: 50%;
  /* background-color: #e99999; */
  display: grid;
  grid-template-rows: 250px 5px;
  grid-template-columns: 250px 5px;
}
.note_content_container {
  box-shadow: 5px 10px 8px #e4dfdf;
  background-color: #fae572;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.delete_note_btn {
  width: 20px;
  height: 20px;
  align-self: flex-start;
  background-color: #fae572;
  border: none;
}
.date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.month {
  font-size: 0.75rem;
  font-weight: bold;
}

.year {
  font-size: 0.75rem;
}

.day {
  font-size: 1.5rem;
  font-weight: bold;
}
